{% extends 'pokemon_app/base.html' %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card mt-4">
            <div class="card-header">Sign Up</div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </form>
                <p class="mt-3">
                    Already have an account? <a href="{% url 'login' %}">Login here</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %} 